version: '3.2'
services:
  reth:
    restart: always
    image: "ghcr.io/paradigmxyz/reth:v0.2.0-beta.2"
    volumes:
      - type: bind
        source: /mnt/data/reth
        target: /rethdata
      - type: bind
        source: ./etc/reth/chaindata
        target: /chaindata

    command: node --dev --datadir /rethdata --http --http.addr 0.0.0.0 --http.port 8545  --dev.block-time 300ms --chain /chaindata/reth_config
    ports:
      - 127.0.0.1:8545:8545

  postgres:
    image: "postgres:12"
    command: postgres -c 'max_connections=200'
    ports:
      - 127.0.0.1:5432:5432
    volumes:
      - type: bind
        source: /mnt/postgres-data
        target: /var/lib/postgresql/data
    environment:
      # We bind only to 127.0.0.1, so setting insecure password is acceptable here
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password2024
      - POSTGRES_DB=zksync

  # This is specific to runner
  zk:
    image: "matterlabs/local-node:latest2.0"
    security_opt:
      - seccomp:unconfined
    command: tail -f /dev/null
    volumes:
      - .:/usr/src/zksync
      - /usr/src/cache:/usr/src/cache
      - /var/run/docker.sock:/var/run/docker.sock
      - ./hardhat-nodejs:/root/.cache/hardhat-nodejs
    environment:
      - CACHE_DIR=/usr/src/cache
      - SCCACHE_CACHE_SIZE=50g
      - SCCACHE_GCS_BUCKET=matterlabs-infra-sccache-storage
      - SCCACHE_GCS_SERVICE_ACCOUNT=gha-ci-runners@matterlabs-infra.iam.gserviceaccount.com
      - SCCACHE_ERROR_LOG=/tmp/sccache_log.txt
      - SCCACHE_GCS_RW_MODE=READ_WRITE
      - CI=1
      - DATABASE_URL=postgres://username:password2024@postgres:5432/zksync
      - ETH_CLIENT_WEB3_URL=https://zksync-sepolia.infura.io/v3/244d74b37f9247ea8e59919c077fe736
      - GITHUB_WORKSPACE=$GITHUB_WORKSPACE
    env_file:
      - /mnt/data/zksync-era/.env
    extra_hosts:
      - "host:host-gateway"
    profiles:
      - runner
